{
    "semi": false,
    "singleQuote": true,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 120,
    "tabWidth": 4,
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^vue(.*)$",
        "^primevue(.*)$",
        "^@iconify(.*)$",
        "^@/shared/(.*)$",
        "^@/integrations/(.*)$",
        "^@/app/(.*)$",
        "^@/entities/(.*)$",
        "^@/features/(.*)$",
        "^@/widgets/(.*)$"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true
}
