/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

.light-mode code[class*="language-"],
.light-mode pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.light-mode pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
.light-mode code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

.light-mode pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
.light-mode code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    .light-mode code[class*="language-"],
    .light-mode pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
.light-mode pre[class*="language-"] {
    overflow: auto;
}

.light-mode :not(pre) > code[class*="language-"],
.light-mode pre[class*="language-"] {
    background: #f5f2f0;
}

/* Inline code */
.light-mode :not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.light-mode .token.comment,
.light-mode .token.prolog,
.light-mode .token.doctype,
.light-mode .token.cdata {
    color: slategray;
}

.light-mode .token.punctuation {
    color: #999;
}

.light-mode .token.namespace {
    opacity: .7;
}

.light-mode .token.property,
.light-mode .token.tag,
.light-mode .token.boolean,
.light-mode .token.number,
.light-mode .token.constant,
.light-mode .token.symbol,
.light-mode .token.deleted {
    color: #905;
}

.light-mode .token.selector,
.light-mode .token.attr-name,
.light-mode .token.string,
.light-mode .token.char,
.light-mode .token.builtin,
.light-mode .token.inserted {
    color: #690;
}

.light-mode .token.operator,
.light-mode .token.entity,
.light-mode .token.url,
.light-mode .language-css .token.string,
.light-mode .style .token.string {
    color: #9a6e3a;
    /* This background color was intended by the author of this theme. */
    background: hsla(0, 0%, 100%, .5);
}

.light-mode .token.atrule,
.light-mode .token.attr-value,
.light-mode .token.keyword {
    color: #07a;
}

.light-mode .token.function,
.light-mode .token.class-name {
    color: #DD4A68;
}

.light-mode .token.regex,
.light-mode .token.important,
.light-mode .token.variable {
    color: #e90;
}

.light-mode .token.important,
.light-mode .token.bold {
    font-weight: bold;
}
.light-mode .token.italic {
    font-style: italic;
}

.light-mode .token.entity {
    cursor: help;
}
