@import 'tailwindcss';
@import 'tailwindcss-primeui';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    }
}


.link {
    @apply text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-200 underline;
}
